# Dependências
/node_modules
/.pnp
.pnp.js

# Build artifacts
/dist
/build
/out
/es
/lib

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Variáveis de ambiente
.env
.env.development
.env.production

# TypeScript / IDE
*.tsbuildinfo
.vscode
.idea