@import url('reset.css');

body {
    background-color: black;
}
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../img/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;
}
.banner .banner-content {
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;
}
.banner .logo {
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
    animation: float 8s ease-in-out infinite;
}
.banner .logo img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: float 8s ease-in-out infinite;
}
.banner h1 {
    font-size: 2.5rem;
    color: transparent;
    font-weight: 900;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#33A8DB80, #147287);
    -webkit-background-clip: text;
    background-clip: text;
}
.banner p {
    font-size: 1.25rem;
    margin: 16px 0 24px;
}
.banner .banner-content button {
    background-color: transparent;
    color: #31a8dd;
    padding: 16px 32px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-image: linear-gradient(#3ba1cd, #1572b7);
    border-image-slice: 10;
    border-width: 5px;
    cursor: pointer;
}

@keyframes float {
  0%, 100% { transform: translateY(6px); }
  50% { transform: translateY(-6px); }
}

section {
    margin: 100px auto;
}
p {
    color: white;
}
h2 {
    font-size: 2rem;
    color: #33A8DB80;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
#course-content {
    width: 800px;
    text-align: center;
}
#course-content .modules-list {
    margin: 24px 0;
}
#course-content .modules-list .module{
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    border: 1px solid #33A8DB80;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}
#course-content .modules-list .module span {
    color: #33a8db;
}
#transform-world {
    background-image: url('../img/woman-code.png');
    background-size: cover;
    background-attachment: fixed;
    height: 560px;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
}
#transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33a8db;
}
#professional-challenges {
    width: 800px;
    text-align: center;
}
#professional-challenges img {
    margin: 32px 0;
}
footer {
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
}
footer .dio-logo {
    width: 300px;
    margin-bottom: 16px;
}
footer a {
    color: #33A8DB80;
    text-decoration: none;
    font-weight: bold;
}