* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-color: var(--third-color) var(--bg);
}
:root {
    --primary-color: #000000;
    --secondary-color: #515151;
    --third-color: #CCCCCC;
    --search-bg: #f8f8f8;
    --subscribe-bg: #cc0000;
    --bg: #fff;
    --font-family: 'Roboto', sans-serif;
}
/* --- Container --- */
.container {
    font-family: var(--font-family);
    background-color: var(--bg);
    color: var(--primary-color);
    /* Grid Layout */
    display: grid;
    grid-template-columns: 1fr; /* Definindo as colunas: 218px para a sidebar e 1fr para o conteúdo principal */
    grid-template-rows: 56px 1fr 50px; /* Defininado as linhas: altura fix para o header, auto para o main e altura fixa para o footer */
    /* Definindo as áreas do grid */
    grid-template-areas: 
        "header"
        "content"
        "footer";
    min-height: 100vh; /* Ocupa toda a altura da viewport */
}

/* --- Header --- */
header {
    grid-area: header;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left {
    display: flex;
    width: 146px;
    height: 24px;
    align-items: center;
    gap: 16px;
}
.menu-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.logo-img {
    width: 90px;
    height: 20px;
    cursor: pointer;
}
.header-center {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 600px;
}
.search-bar {
    flex-grow: 1;
    height: 40px;
    border: 1px solid var(--third-color);
    border-radius: 2px;
    padding: 0 8px;
    font-size: 14px;
    outline: none;
}
.search-button {
    width: 57px;
    height: 40px;
    border: 1px solid var(--third-color);
    background-color: var(--search-bg);
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-right {
    width: 130px;
    height: 34px;
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 24px;
}
.header-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
}
/* --- Main Content --- */
.main-content {
    grid-area: content;
    display: grid;
    grid-template-columns: 218px 1fr; /* Definindo as colunas: 218px para a sidebar e 1fr para o conteúdo principal */
    grid-template-rows: 1fr; /* Definando as linhas: auto para o main */
    overflow: hidden; /* Evita que o conteúdo exceda os limites do container */
}
    
/* --- Sidebar --- */
aside {
    overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo exceder a altura */
    padding: 16px 16px 0 16px;
}
.sidebar-item {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 22px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 14px;
    color: var(--primary-color);
}
.sidebar-item:hover {
    background-color: var(--search-bg);
    border-radius: 4px;
}
.sidebar-icon {
    width: 24px;
    height: 24px;
}
/* --- Video Grid --- */
.video-grid {
    min-width: 100px;
    overflow-y: auto;
    padding: 24px 24px 24px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));   
    gap: 16px;   
}
.video-card {
    cursor: pointer;
}
.video-thumbnail {
    width: 100%;
    height: 140px;
    background-color: var(--third-color);
    margin-bottom: 8px;
    border-radius: 15px;
    object-fit: cover;
}
.video-info {
    display: flex;
    align-items: flex-start;
}
.channel-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: top;
}
.video-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
    line-height: 100%;
    color: var(--primary-color);
}
.channel-name {
    font-size: 12px;
    color: var(--secondary-color);
}
.video-stats {
    font-size: 12px;
    color: var(--secondary-color);
}

/* --- Footer --- */

footer {
    grid-area: footer;
    background-color: var(--bg);
    border-top: 1px solid var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--secondary-color);
}